[submodule "benchmark/csibe"]
	path = benchmark/csibe
	url = https://github.com/claziss/csibe.git
[submodule "benchmark/tests"]
	path = benchmark/tests
	url = https://github.com/claziss/arc-tests.git
[submodule "reports"]
	path = reports
	url = https://gitsnps.internal.synopsys.com/arc_oss/arc-reports.git
